/*
* CloudEmoji API Server sample config file
* 2014-06-16 19:09 UTC+8 phoenixlzx <i@phoenixlzx.com>
* License MIT | http://opensource.org/licenses/MIT
* */

module.exports = {

    // HTTP settings
    bindAddress: '127.0.0.1',
    bindPort: 3000,

    // Database settings
    mongodb: 'mongodb://127.0.0.1:27017/cloudemojiapiserver',

    // API settings
    apikey: 'Paigo5gephoh9Oofeu3ahGh2UaBoogh0',
    ip_whitelist: ['127.0.0.0/8', '192.168.1.0/24'], // to disable ip whitelist, set it to [].
    // enable public queries for emoji database, allowing all clients send read-only queries directly to api server
    // without apikey and ip whitelist.
    public_query: false

};